# ignore DS_store bullshit
**/*.DS_Store

# ignore IDE config files
.idea

# ignore pyc files
**/*.pyc

# ignore the diff files
diff.txt
scripts/diff.txt

# ignore saved solutions
standard_instances/solution_path_20*